* {
  margin: 0;
  padding: 0;
}
.heading {
  background-color: black;
  color: white;
  font-family: sans-serif;
  height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: crimson;
  height: 95vh;
  width: 100vw;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  width: 75%;
  height: 15em;
  border-radius: 5px;
  box-shadow: 10px 5px 5px black;
}

.pball.ball {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  width: 4.5rem;
  height: 4.5rem;
  background: crimson;
  border-radius: 50%;
  background: -webkit-radial-gradient(25px 25px, circle, crimson, #000);
  background: -moz-radial-gradient(25px 25px, circle, crimson, #000);
  background: radial-gradient(25px 25px, circle, crimson, #000);
}

.ball {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 4.5rem;
  height: 4.5rem;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  background: -webkit-radial-gradient(
    25px 25px,
    circle,
    rgb(255, 255, 255),
    #000
  );
  background: -moz-radial-gradient(25px 25px, circle, rgb(255, 255, 255), #000);
  background: radial-gradient(25px 25px, circle, rgb(255, 255, 255), #000);
}

/* BUTTON CSS  */
