* {
  font-family: "Chango", cursive;
}
#ballSection {
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  position: relative;
}
.bgImage {
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.ballContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  position: relative;
}
.pball.ball {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  width: 4rem;
  height: 4rem;
  background: crimson;
  border-radius: 50%;
  background: -webkit-radial-gradient(25px 25px, circle, crimson, #000);
  background: -moz-radial-gradient(25px 25px, circle, crimson, #000);
  background: radial-gradient(25px 25px, circle, crimson, #000);
}

.ball {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 4rem;
  height: 4rem;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  background: -webkit-radial-gradient(
    25px 25px,
    circle,
    rgb(255, 255, 255),
    #000
  );
  background: -moz-radial-gradient(25px 25px, circle, rgb(255, 255, 255), #000);
  background: radial-gradient(25px 25px, circle, rgb(255, 255, 255), #000);
}
